<h2>annuaires du personnel</h2>

<ul>
  <li *ngFor="let indiv of personnes">
   <dl>
    <ng-container *ngFor="let item of indiv | keyvalue ">
      <dt>{{item.key}}</dt>
      <dd>{{item.value}}</dd>
    </ng-container>

   </dl>
  </li>
</ul>
