<p>admin works!</p>
<form [formGroup]="individuForm" (ngSubmit)="enregistrer()">
<label for="prenom">Prénom:</label>
  <input type="text" id="prenom"  formControlName="prenom">
<br>
<label for="nom">Nom:</label>
  <input type="text" id="nom" formControlName="nom">
<br>
<label for="photo">Photo:</label>
<input type="file" id="photo" formControlName="photo" (change)="fichierCharge($event)">
<br>
<button type="submit" [disabled]="!individuForm.valid">Enregistrer</button>
</form>
